*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.BAND{
    width: 100px;
    height: 50px;
    border-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.BAND{
    width: 100px;
    height: 50px;
    color: black;
}
.MUSIC {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

}