* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: #eb5757;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 9999;
}

nav ul {
    display: flex;
    gap: 33px;
    align-items: center;
}

nav ul li {
    list-style-type: none;

}

nav ul li a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 400px;
    align-items: center;
}

.cart {
    background-color: black;
    color: white;
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius: 5px;
}

#merch {
    width: 100%;
    height: 550px;
}

.firstpagebg img {
    width: 100%;
    height: 550px;
    position: relative;
}

.writer {
    top: 228px;
    font-size: 40px;
    bottom: 100px;
    margin-left: 20px;
    position: absolute;
    color: white;
    left: 20px;
}

.relax p {
    font-size: 15px;
}

.button {
    color: transparent;
    padding: 10px;
    cursor: pointer;
    width: 130px;
    height: 30px;
}

.button button {
    width: 130px;
    height: 30px;
    color: white;
    cursor: pointer;
    background: transparent;
}

.kvd {
    font-size: 16px;
    padding-top: 4%;
    display: flex;
    justify-content: space-around;
}

.ad {
    font-size: 20px;
    display: flex;
    flex-direction: column;

}

.kwd {
    font-size: 40px;

}

.headerleft p {
    width: 500px;
    height: 10px;
    font-size: 17px;

}
.ask{
    display: flex;
    justify-content: space-around;
    padding-left: 7%;
    padding-right: 8%;
    padding-top: 3%;
}
.qara1{
    width: 350px;
    height: 351px;
    background-color: black;
    border-radius: 6px;
}
.qara1 h2{
    color: white;
    font-size: 40px;
    font-weight: 700;
    padding-left: 10%;
    padding-top:10% ;
}
.a{
    padding-top: 20%;
    padding-left: 10%;
    
}
.a h1{
    width: 30px;
    height: 40px;
    color: white;
    font-size:30px ;
    padding-left: 20%;
}
.a img{
   margin-left: 15%;
    padding-top: 5%;
    position: absolute;
}
.usb p{
    color: black;
    font-size: 17px;
    position: absolute;
    width: 451px;
    height: auto;
    padding-top: 14%;
    padding-right: 10%;
    line-height: 26px;

}
.qara2{
    width: 350px;
    height: 351px;
    background-color: black;
    border-radius: 6px;
}
.qara2 h2{
color: white;
 font-weight: 700;
font-size: 40px;
margin-left: 10%;
margin-top: 10%;
}
.b{
    width: auto;
    height: 0px;
margin-left: 20%;
margin-top: 20%;
}
.b h1{
    color: white;
    width: 70px;
    font-size: 33px;
    margin-top:20%;
    padding-left: 10%;
}
 .b img{
padding-left: 10%;
position: absolute;
margin-top: 5%;

 }
 .b p{
    width: 586px;
    height: auto;
    color: black;
    padding-top: 14%;
    position: absolute;
    padding-right: 20%;
    font-size: 17px;
    line-height: 24px;

 }

.qara3{
    width: 350px;
    height: 351px;
    background-color: black;
    border-radius: 6px;
}
.qara3 h2{
    color: white;
    font-weight: 700;
   font-size: 40px;
   margin-left: 10%;
   margin-top: 10%;
}
.c{
    width: auto;
    height: 0px;
margin-left: 20%;
margin-top: 10%;
}
.c h1{
    color: white;
    width: 50px;
    font-size: 33px;
    margin-top:20%;
    padding-left: 5%;
}
.c img{
    padding-left: 13%;
    position: absolute;
    padding-top: 1%;
}
.c p{
    width: 340px;
    height: 889px;
    color: black;
    padding-top: 12%;
    position: absolute;
    padding-right: 10%;
    font-size: 17px;
    line-height: 22px;

}
.kia img{
    width: 1519px;
    height: 758px;
   padding-top: 15%;
   position: absolute;

}
.bmv{
    top: 328px;
    font-size: 40px;
    bottom: 100px;
    margin-left: 20%;
    position: absolute;
    color: white;
}
.bmw h2{
    width: 712px;
    height: 300px;
padding-top: 20%;
color: white;
position: absolute;
padding-left: 20%;
font-size: 40px;
justify-content: end;
display: flex;
}
.bmw p{
    width: 596px;
    height: 300px;
padding-top: 20%;
color: white;
position: absolute;



}
.the {
    position: absolute;
    display: flex;
  padding-top: 20%;
  
}








